<div>
  <p>    parara pa tim pam pa ram   </p>
    {{mensagem}}

 <h1>eae men kkk</h1>
    <button class="waves-effect waves-light btn" ng-click="goPagina2()">página 2</button>

    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="images/street.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    </div>

</div>
